<div>
  <div class="mb-6">
    <%= form.label :title, class: "label" %>
    <%= form.text_field :title, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>
  <div class="mb-6">
    <%= form.label :pledge_amount, class: "label" %>
    <%= form.number_field :pledge_amount, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>
  <div class="mb-6">
    <%= form.label :description, class: "label" %>
    <%= form.rich_text_area :description, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <div class="mb-6">
    <%= form.label :bundle_cover, class: "label" %>
    <%= form.file_field :bundle_cover, multiple: true, direct_upload: true %>
  </div>

  <%= link_to_remove_nested(form) %>

  <%= form.hidden_field :_destroy %>
</div>