<div class="flex flex-col justify-center items-center">
  <div class="w-2/3">
    <%= form_with(model: [:dashboard, @project], local: true, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper' }) do |form| %>
      <% if @project.errors.any? %>
        <div id="error_explanation" class="bg-white p-6 rounded text-red-500 mb-5">
          <h2 class="text-red-500 font-bold"><%= pluralize(@project.errors.count, "error") %> prohibited this @project from being saved:</h2>

          <ul>
            <% @project.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-6">
        <%= form.label :title, class: "label" %>
        <%= form.text_field :title, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
      </div>

      <div class="mb-6">
        <%= form.label :video_url, class: "label" %>
        <%= form.text_field :video_url, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
      </div>

      <div class="mb-6">
        <%= form.label :campaign_ends_at, class: "label" %>
        <%= form.date_field :campaign_ends_at, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
      </div>

      <div class="mb-6">
        <%= form.label :funding_goal, class: "label" %>
        <%= form.number_field :funding_goal, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
      </div>

      <div class="mb-6">
        <%= form.label :blurb, class: "label" %>
        <%= form.rich_text_area :blurb, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
      </div>

      <div class="mb-6">
        <%= form.label :description, class: "label" %>
        <%= form.rich_text_area :description, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
      </div>
      
      <div class="mb-6 text-lg font-bold">
        <h2>Bundles</h2>
      </div>
      <template data-nested-form-target="template" class="mt-6">
        <%= form.fields_for(:bundles, child_index: 'NEW_RECORD') do |form|  %>
          <%= render "bundle_form", form: form %>
        <% end %>
      </template>

      <%= form.fields_for(:bundles) do |form|  %>
        <%= render "bundle_form", form: form %>
      <% end %>

      <div data-nested-form-target="target"></div>
      <div class="my-6">
        <button type="button"
                data-action="nested-form#add"
                class="flex flex-row p-2 items-center leading-none border rounded bg-cx-lavender-blush text-cx-beaver border-cx-beaver font-black hover:border-transparent hover:text-cx-lavender-blush hover:bg-cx-purple">
          <%= render(Icons::PlusComponent.new) %>
          Add a bundle
        </button>
      </div>
      <div class="mb-6">
        <%= link_to 'Cancel', dashboard_projects_path, class: "inline-block px-4 py-2 leading-none border rounded bg-cx-lavender-blush text-cx-beaver border-cx-beaver font-black hover:border-transparent hover:text-cx-lavender-blush hover:bg-cx-purple mt-4 lg:mt-0" %>

        <%= form.submit class: "inline-block px-4 py-2 leading-none border rounded border-transparent text-cx-lavender-blush bg-cx-purple hover:text-cx-beaver hover:bg-cx-lavender-blush hover:border-cx-beaver font-black mt-4 lg:mt-0" %>
      </div>
    <% end %>
  </div>
</div>