<li>
  <%= link_to product_path(@product), class: "flex overflow-hidden group" do %>
    <%= product_image %>
    <div class="relative pt-3 bg-white">
        <h3 class="text-lg text-gray-700 group-hover:underline group-hover:underline-offset-4">
            <%= @product.name %>
        </h3>

        <%= link_to store_path(@product.store), class: "mt-2 flex flex-row items-center" do %>
            <span class="sr-only"> Store name </span>
            <span class="tracking-wider text-gray-900 hover:underline hover:underline-offset-4">
                <%= @product.store.name %>
            </span>
        <% end %>
      <form action="/payments/stripe/checkout" method="POST">
        <button type="submit" id="checkout-button" class="inline-flex items-center justify-center rounded-md border border-transparent bg-cx-purple px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:ring-offset-2 sm:w-auto">Checkout</button>
      </form>
    </div>
  <% end %>
</li>