<li id="<%= dom_id @product %>" class="hover:drop-shadow-xl hover:p-2">
  <%= link_to product_path(@product), class: "flex flex-col overflow-hidden group rounded-lg", data: {"umami-event": "Product-Card-Product-Click", "umami-event-product": @product.name} do %>
    <%= product_image %>
    <div class="p-2 bg-cx-lavender-blush -mt-12 w-1/4 text-center"
         style="border-top-right-radius: 0.5rem;">
      &#36; <%= @product.price %>
    </div>
    <div class="relative pt-3 bg-white">
        <h3 class="text-lg text-gray-700 group-hover:underline group-hover:underline-offset-4">
            <%= @product.name %><br/>
        </h3>

        <%= link_to store_path(@product.store),
            class: "mt-2 flex flex-row items-center",
            data: { "umami-event": "Product-Card-Store-Click",
                    "umami-event-store": @product.store_name } do %>
            <span class="sr-only"> Store name </span>
            <span class="tracking-wider text-gray-900 hover:underline hover:underline-offset-4">
                <%= @product.store_name %>
            </span>
        <% end %>
    </div>
  <% end %>
  <div class="w-full">
    <%= link_to "Add to Cart",
        add_cart_index_path(id: @product.id),
        class: "inline-flex items-center justify-center rounded-md border border-transparent bg-cx-purple px-8 py-2 text-md font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:ring-offset-2 w-full",
        data: { "turbo_method": :post,
                "umami-event": "Product-Card-Add-Cart-Click",
                "umami-event-product": @product.name } %>
  </div>
</li>
