<div class="block lg:hidden">
  <% if @product.issue_cover.present? %>
    <%= image_tag @product.issue_cover, class: "shadow-xl mx-auto -mt-16 h-auto w-48 bg-cover bg-center" %>
  <% else %>
    <%= image_tag "https://img.icons8.com/dotty/70/000000/full-image.png", class: "shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center" %>
  <% end %>
  <div class="flex flex-col w-full text-center text-2xl pt-4">
    <span class="mx-2 p-2">&#36; <%= @product.price %></span>
    <div class="flex flex-col text-base items-center align-middle	">
      <div class="flex flex-row items-center"><ion-icon name="book-outline"></ion-icon>&nbsp;Download or Read In Our Reader</div>
      <div class="flex flex-row items-center"><ion-icon name="document-outline"></ion-icon>&nbsp;PDF</div>
    </div>
    <%= issue_cta %>
  </div>
</div>
<% if @product.video_url.present? %>
  <div data-controller="modal"
       data-action="keydown.esc->modal#close"
       tabindex="-1"
       class="relative z-10 flex lg:hidden items-center justify-center py-4">
    <button href="#" data-action="click->modal#open"
            class="hinline-flex items-center justify-center -md border border-transparent bg-cx-purple px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:ring-offset-2 sm:w-auto">
            Trailer
    </button>

    <!-- Modal Background -->
    <div class="hidden fixed inset-0 bg-black bg-opacity-80 overflow-y-auto flex items-center justify-center"
          data-modal-target="background"
          data-action="click->modal#closeBackground"
          data-transition-enter="transition-all ease-in-out duration-300"
          data-transition-enter-from="bg-opacity-0"
          data-transition-enter-to="bg-opacity-80"
          data-transition-leave="transition-all ease-in-out duration-300"
          data-transition-leave-from="bg-opacity-80"
          data-transition-leave-to="bg-opacity-0">

      <!-- Modal Container -->
      <div data-modal-target="container" class="max-h-screen relative">
        <!-- Modal Card -->
        <div class="m-1 bg-white shadow">
          <div class="p-8 text-center">
            <h2 class="text-2xl font-bold mb-4">Trailer</h2>
            <%= render(VideoComponent.new(video_url: @product.video_url)) %>
            <div class="flex justify-center items-center flex-wrap mt-6">
              <button class="inline-flex items-center justify-center -md border border-transparent bg-cx-purple px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:ring-offset-2 sm:w-auto" data-action="click->modal#close:prevent">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>