<div class="flex items-center justify-center px-12">
  <% if @product.issue_cover.present? %>
    <%= image_tag @product.issue_cover, class: "shadow-2xl hidden max-h-bigtile rounded-lg lg:block" %>
  <% else %>
    <%= image_tag "https://res.cloudinary.com/drg9hguhu/image/upload/v1667569457/comix/78_tage_auf_der_stra%C3%9Fe_des_hasses_000_cover.jpg", class: "shadow-2xl hidden rounded-lg lg:block" %>
  <% end %>
</div>
<div class="mt-2 text-4xl hidden lg:flex flex-col items-center justify-center">
  <span class="mx-2 p-2">&#36;<%= @product.price %></span>
  <% if is_onboarded? && !is_free? %>
    <%= link_to "Buy",
                payments_stripe_checkout_path(product_id: @product.id),
                class: "text-black font-black hover:text-cx-purple font-bold hidden lg:block",
                data: { turbo: false,
                        "umami-event": "Product-Page-Buy-Click",
                        "umami-event-product": @product.name }
    %>
  <% elsif is_free? %>
      <% if @user.nil? %>
        <%= link_to "Login and Read for free",
                  free_purchase_purchases_path(product_id: @product.id),
                  class: "text-black font-black hover:text-cx-purple font-bold hidden lg:block text-lg",
                  data: { turbo: false,
                          turbo_method: :post,
                          "umami-event": "Product-Page-Get-Free-Click",
                          "umami-event-product": @product.name } %>
      <% else %>
        <%= link_to "Read",
                  purchase_path(slug: @product.slug),
                  class: "inline-flex items-center justify-center rounded-md border border-transparent bg-cx-purple px-8 py-2 text-xl font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:ring-offset-2 sm:w-auto",
                  data: { turbo: false,
                          "umami-event": "Product-Page-Read-Free-Click",
                          "umami-event-product": @product.name } %>
      <% end %>
  <% else %>
    Coming Soon
  <% end %>
</div>
<% if @product.video_url.present? %>
  <div data-controller="modal" data-action="keydown.esc->modal#close" tabindex="-1" class="relative z-10 flex items-center justify-center py-4">
    <button href="#" data-action="click->modal#open"
            class="hidden lg:inline-flex items-center justify-center rounded-md border border-transparent bg-cx-purple px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:ring-offset-2 sm:w-auto">
            Trailer
    </button>

    <!-- Modal Background -->
    <div class="hidden fixed inset-0 bg-black bg-opacity-80 overflow-y-auto flex items-center justify-center"
          data-modal-target="background"
          data-action="click->modal#closeBackground"
          data-transition-enter="transition-all ease-in-out duration-300"
          data-transition-enter-from="bg-opacity-0"
          data-transition-enter-to="bg-opacity-80"
          data-transition-leave="transition-all ease-in-out duration-300"
          data-transition-leave-from="bg-opacity-80"
          data-transition-leave-to="bg-opacity-0">

      <!-- Modal Container -->
      <div data-modal-target="container" class="max-h-screen relative">
        <!-- Modal Card -->
        <div class="m-1 bg-white rounded shadow">
          <div class="p-8 text-center">
            <h2 class="text-2xl font-bold mb-4">Trailer</h2>
            <%= render(VideoComponent.new(video_url: @product.video_url)) %>
            <div class="flex justify-center items-center flex-wrap mt-6">
              <button class="inline-flex items-center justify-center rounded-md border border-transparent bg-cx-purple px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:ring-offset-2 sm:w-auto" data-action="click->modal#close:prevent">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>