<div class="min-h-full flex flex-row items-center justify-center">
  <div class="lg:w-1/2 lg:block hidden">
    <img class="w-full object-fill" src="https://res.cloudinary.com/drg9hguhu/image/upload/v1720149878/Comix_NAIDOC_jcrw1a.jpg" />
  </div>
  <div class="lg:w-1/2 w-full flex flex-col items-center justify-center">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">Sign up for a free account</h2>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { 'data-turbo' => "false", class: "mt-8 space-y-6 w-2/3" }) do |f| %>
      <div class="-md shadow-sm -space-y-px">
        <%= render "devise/shared/error_messages", resource: resource %>
        <div>
          <label for="first-name" class="sr-only">First Name</label>
          <%= f.text_field :first_name,
                            autofocus: true,
                            autocomplete: "first_name",
                            placeholder: "First Name",
                            class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-purple-800 focus:border-purple-800 focus:z-10 sm:text-sm" %>
        </div>
        <div class="py-4">
          <label for="last-name" class="sr-only">Last Name</label>
          <%= f.text_field :last_name,
                            autofocus: true,
                            autocomplete: "last_name",
                            placeholder: "Last Name",
                            class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-purple-800 focus:border-purple-800 focus:z-10 sm:text-sm" %>
        </div>
        <div class="pt-2 pb-4">
          <label for="email-address" class="sr-only">Email address</label>
          <%= f.email_field :email,
                            autofocus: true,
                            autocomplete: "email",
                            placeholder: "Email",
                            class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-purple-800 focus:border-purple-800 focus:z-10 sm:text-sm" %>
        </div>
        <div class="pt-2 pb-4">
          <label for="password" class="sr-only">Password</label>
          <% if @minimum_password_length %>
            <p><em>(<%= @minimum_password_length %> characters minimum)</em></p>
          <% end %>
          <%= f.password_field :password,
                               placeholder: "Password",
                               autocomplete: "new-password",
                               class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-purple-800 focus:border-purple-800 focus:z-10 sm:text-sm" %>
        </div>

        <div>
          <label for="password-confirmation" class="sr-only">Password Confirmation</label>
          <%= f.password_field :password_confirmation,
                               placeholder: "Retype Password",
                               autocomplete: "new-password",
                               class: "appearance-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-purple-800 focus:border-purple-800 focus:z-10 sm:text-sm" %>
        </div>
      </div>
      <div>
        <%= recaptcha_tags %>
      </div>
      <div>
        <p>By signing up you are agreeing to our <a href="https://winter-professor-81d.notion.site/Terms-of-Service-7a40080fe1684689890e287566f0c732" target="_blank">Terms of Service</a></p>
      </div>

      <div>
        <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium text-white hover:bg-black bg-cx-purple focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-800">
          <span class="absolute left-0 inset-y-0 flex items-center pl-3">
            <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
            </svg>
          </span>
          Sign up
        </button>
      </div>
    <% end %>
    <div class="mt-4">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>