<nav class="flex flex-col text-justify items-start justify-center flex-wrap bg-cx-lavender-blush p-6 border-b text-md">
    <div class="grid grid-flow-col auto-cols-max gap-16 text-left py-8 px-36">
      <ul>
        <li class="font-bold">Discover</li>
        <li class="underline hover:text-cx-purple"><%= link_to "Shop Bundles", shop_index_path %></li>
        <li class="underline hover:text-cx-purple"><%= link_to "For Creators", for_creators_path %></li>
      </ul>

      <ul>
        <li class="font-bold">Contact</li>
        <li class="underline hover:text-cx-purple"><%= link_to "Twitter", "https://twitter.com/comix_app", target: "blank" %></li>
        <li class="underline hover:text-cx-purple"><%= link_to "YouTube", "https://youtube.com/@comix_app", target: "blank" %></li>
        <li class="underline hover:text-cx-purple"><%= mail_to "contact@comix.one", "Email" %></li>
      </ul>

      <ul>
        <li class="font-bold">Company</li>
        <li class="underline hover:text-cx-purple"><%= link_to "About Us", about_path %></li>
        <li class="underline hover:text-cx-purple"><%= link_to "Posts", posts_path%></li>
      </ul>

      <ul>
        <li class="font-bold">Legal</li>
        <li class="underline hover:text-cx-purple"><%= link_to "Privacy Policy", "https://winter-professor-81d.notion.site/Privacy-Policy-1ec85eb827a940b39654db9d3e4847e1", target: "blank" %></li>
        <li class="underline hover:text-cx-purple"><%= link_to "Terms of Service", "https://winter-professor-81d.notion.site/Terms-of-Service-7a40080fe1684689890e287566f0c732"%></li>
      </ul>
    </div>
    <div class="px-36 py-2">
      ABN 53 870 537 406
    </div>
    <div class="px-36">We’d like to acknowledge the Traditional Owners of the land,
        the Cabrogal Clan of the Darug Nation and pay our respects to Elders past and present.
        We extend that respect to Aboriginal and Torres Strait Islander peoples.
        It is also acknowledged that the land was accessed by peoples of the Tharawal and Gandangara Nations. 
    </div>
</nav>
