<header aria-label="Site Header" class="bg-white">
  <div class="mx-auto max-w-screen-xl p-4 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <%= link_to root_path, class: "flex flex-row items-center" do %>
            <%= render(LogoComponent.new(classes: "w-16")) %>
            <div class="text-3xl bold font-black self-center">COMI<i>X</i></div>
        <% end %>
      </div>

      <div class="md:flex md:items-center md:gap-12">
        <nav aria-label="Site Nav" class="hidden md:block">
          <ul class="flex items-center gap-6 text-lg">
            <li class="flex flex-row">
              <%= link_to 'Shop Bundles',
              shop_index_path,
              class: "text-cx-beaver font-black hover:text-cx-purple font-bold" %>
            </li>
              <%= link_to 'For Creators',
                  for_creators_path,
                  class: "text-cx-beaver font-black hover:text-cx-purple font-bold" %>
            </li>

            <li>
              <%= link_to 'Posts',
                posts_path,
                class: "text-cx-beaver font-black hover:text-cx-purple font-bold" %>
            </li>

            <li>
              <%= render(CartIconComponent.new()) %>
            </li>
          </ul>
        </nav>

        <div class="flex items-center gap-4">
          <div class="block md:hidden">
            <button
              class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
