<header aria-label="Site Header" class="bg-white">
  <div class="mx-auto max-w-screen-xl p-4 lg:px-8">
    <div class="flex h-16 items-center justify-between">
      <div class="flex-1 md:flex md:items-center md:gap-12">
        <%= link_to root_path, class: "flex flex-row items-center" do %>
            <%= render(LogoComponent.new(classes: "w-16")) %>
            <div class="text-3xl bold font-black self-center">COMI<i>X</i></div>
        <% end %>
      </div>

      <div class="md:flex md:items-center md:gap-12">
        <nav data-target="topNav" aria-label="Site Nav" class="navbar-menu hidden md:block">
          <ul class="flex items-center gap-6 text-lg">
            <li class="flex flex-row">
              <%= link_to 'Browse Comics',
              comics_path,
              class: "text-black font-black hover:text-cx-purple font-bold" %>
            </li>
              <%= link_to 'For Creators',
                  for_creators_path,
                  class: "text-black font-black hover:text-cx-purple font-bold" %>
            </li>

            <li>
              <%= link_to 'Posts',
                posts_path,
                class: "text-black font-black hover:text-cx-purple font-bold" %>
            </li>
            <% if @user %>
              <li>
                <div class="inline-block text-sm px-4 py-2 leading-none rounded no-underline text-gray hover:text-gray-900 hover:bg-white mt-4 lg:mt-0">
                  <div class="relative" data-controller="dropdown">
                    <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
                      <span class="appearance-none flex items-center inline-block text-gray-700">
                        <%= render(Icons::AvatarComponent.new()) %>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="h-4 w-4"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
                      </span>
                    </div>
                    <div data-dropdown-target="menu" class="absolute right-0 mt-2 z-50 hidden">
                      <div class="bg-white shadow rounded border overflow-hidden">
                          <%= link_to 'Account',  edit_user_registration_path, data: {action: "click->dropdown#toggle"}, class: 'no-underline block pl-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap' %>
                          <%= link_to 'Sign Out', destroy_user_session_path, data: {action: "click->dropdown#toggle", turbo_method: :delete}, class: 'no-underline block px-8 py-3 border-t text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap' %>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </nav>

        <div class="flex items-center gap-4">
          <div class="block md:hidden">
            <button
              class="navbar-burger rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M4 6h16M4 12h16M4 18h16"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
