<%= render(PageTitleComponent.new(title: @store.name)) %>
<%= render(Stores::CoverImageComponent.new(store: @store)) %>
<section class="relative py-16">
  <div class="container mx-auto px-4">
    <div
      class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64"
    >
      <div class="px-6">
        <%= render(Stores::DisplayImageComponent.new(store: @store, main: true)) %>
        <div class="text-center mt-40">
          <h3
            class="text-4xl font-semibold leading-normal mb-2 text-gray-800"
          >
            <%= @store.name %>
          </h3>
          <div
            class="text-sm leading-normal mt-0 mb-2 text-gray-500 font-bold uppercase"
          >
          </div>
        </div>
        <div class="mt-10 py-10 border-t border-gray-300 text-center">
          <div class="flex flex-wrap text-justify justify-center">
            <div class="w-full lg:w-9/12 px-4">
              <p class="mb-4 text-lg leading-relaxed text-gray-800">
                <%= @store.description %>
              </p>
            </div>
          </div>
        </div>
        <!-- ShareThis BEGIN --><div class="sharethis-inline-share-buttons py-4"></div><!-- ShareThis END -->
        <div class="text-center text-3xl pb-4">
          Our work
        </div>
        <div class="py-10 border-t text-center flex items-center justify-center">
          <ul class="grid gap-4 mt-4 sm:grid-cols-2 lg:grid-cols-4">
            <% @store.products.each do |product| %>
              <% cache product do %>
                <%= render(Products::CardComponent.new(product: product, number_of_products: 4)) %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
