<div class="pt-6 px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">New Profile</h1>
    </div>
  </div>
  <div class="mt-8 flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <%= form_with model: [:admin, @profile] do |form| %>
          <%= form.label :name %><br />
          <%= form.text_field :name %><br />
          <%= form.label :avatar %><br />
          <%= form.file_field :avatar %><br />
          <%= form.label :profile_cover %><br />
          <%= form.file_field :profile_cover %><br />
          <%= form.label :skills %><br />
          <%= form.text_field :skills %><br />
          <%= form.label :website %><br />
          <%= form.text_field :website %><br />
          <%= form.label :twitter %><br />
          <%= form.text_field :twitter %><br />
          <%= form.label :instagram %><br />
          <%= form.text_field :instagram %><br />
          <%= form.label :facebook %><br />
          <%= form.text_field :facebook %><br />
          <%= form.label :tiktok %><br />
          <%= form.text_field :tiktok %><br />
          <%= form.label :bio %><br />
          <%= form.rich_text_area :bio %><br />
          <%= form.select :user_id, @creator_users.map { |creator| [creator.email, creator.id]}, include_blank: true, class: "form-control" %>
          <%= form.submit class: "inline-flex items-center justify-center rounded-md border border-transparent bg-cx-purple px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:ring-offset-2 sm:w-auto" %>
        <% end %>
      </div>
    </div>
  </div>
</div>