<div class="my-1 px-1 w-full md:w-1/2 lg:my-2 lg:px-2 lg:w-1/4">
    <article class="overflow-hidden rounded border hover:shadow-lg">
        <%= link_to product_path(product) do %>
            <% if product.issue_cover.present? %>
                <%= image_tag product.issue_cover.variant(resize_to_limit: [600, 400]), class: "block max-h-tile w-full"  %>
            <% else %>
                <img src="https://img.icons8.com/dotty/600/000000/full-image.png" class="block h-auto w-full" width="600" height="400"/>
            <% end %>
        <% end %>

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
            <h1 class="text-lg"><%= product.name %></h1>
            <p class="text-grey-darker text-sm border border-solid border-black rounded p-2 w-1/2 text-center">
                &#36; <%= product.price %>
            </p>
        </header>

        <footer class="flex items-stretch justify-between leading-none p-2 md:p-4">
            <%= link_to store_path(product.store), class: "flex items-center no-underline hover:underline text-black" do %>
                <% if product.store.display_image.present? %>
                    <%= image_tag product.store.display_image.variant(resize_to_limit: [32, 32]), class: "block rounded-full" %>
                <% else %>
                    <img src="https://img.icons8.com/dotty/32/000000/full-image.png" class="block h-auto w-full" width="32" height="32"/>
                <% end %>
                <p class="ml-2 text-sm">
                    <%= product.store.name %>
                </p>
            <% end %>
            <div class="items-end">
                <a class="no-underline text-grey-darker hover:text-red-dark justify-right" href="#">
                    <ion-icon name="heart"></ion-icon>
                </a>
                <a class="no-underline text-grey-darker hover:text-red-dark justify-right" href="#">
                    <ion-icon name="cart"></ion-icon>
                </a>         
            </div>
        </footer>

    </article>
</div>