<li class="my-1 px-1 lg:my-2 lg:px-1 lg:w-1/4 md:w-1/2 sm:w-full list-none">
    <article class="overflow-hidden rounded-lg border hover:shadow-lg">
        <%= link_to product_path(product) do %>
            <% if product.issue_cover.present? %>
                <%= image_tag product.issue_cover.variant(resize_to_limit: [600, 400]), class: "block max-h-tile w-full"  %>
            <% else %>
                <img src="https://img.icons8.com/dotty/200/000000/full-image.png" class="block h-auto p-16 mb-16" width="600" height="400"/>
            <% end %>
        <% end %>

        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
            <h1 class="text-lg text-left w-2/3"  title="<%= product.name %>">
                <%= product.name.truncate(15, omission: '..') %>
            </h1>
            <p class="text-grey-darker text-sm border border-dashed border-black rounded p-2 w-1/3 text-center">
                &#36; <%= product.price %>
            </p>
        </header>

        <footer class="flex items-stretch justify-between leading-none p-2 md:p-4">
            <%= link_to store_path(product.store), class: "flex items-center no-underline hover:underline text-black" do %>
                <% if product.store.display_image.present? %>
                    <%= image_tag product.store.display_image.variant(resize_to_limit: [32, 32]), class: "block rounded-lg" %>
                <% else %>
                    <img src="https://img.icons8.com/dotty/32/000000/full-image.png" class="block h-auto w-full" width="32" height="32"/>
                <% end %>
                <span class="ml-2 text-sm" title="<%= product.store.name %>">
                    <%= product.store.name.truncate(15, omission: '..') %>
                </span>
            <% end %>
            <div class="flex items-start">
                <a class="no-underline text-grey-darker px-4" title="Favourite" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" height="18" width="18">
                        <g transform="matrix(1.2857142857142858,0,0,1.2857142857142858,0,0)">
                            <path class="hover-fill" d="M7,12.45l-5.52-5c-3-3,1.41-8.76,5.52-4.1,4.11-4.66,8.5,1.12,5.52,4.1Z" style="fill: none;stroke: #000000;stroke-linecap: round;stroke-linejoin: round">
                            </path>
                        </g>
                    </svg>
                </a>
                <%= link_to line_items_path(product_id: product.id), method: :post do %>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" height="18" width="18">
                        <g transform="matrix(1.2857142857142858,0,0,1.2857142857142858,0,0)"><g>
                        <path d="M13.5.5H11l-.87,8.65a1,1,0,0,1-1,.85H2.83a1,1,0,0,1-1-.68l-1.33-4a1,1,0,0,1,.14-.9A1,1,0,0,1,1.5,4h9.15" style="fill: none;stroke: #000000;stroke-linecap: round;stroke-linejoin: round"></path>
                        <circle cx="3" cy="13" r="0.5" style="fill: none;stroke: #000000;stroke-linecap: round;stroke-linejoin: round"></circle>
                        <circle cx="9.5" cy="13" r="0.5" style="fill: none;stroke: #000000;stroke-linecap: round;stroke-linejoin: round"></circle>
                        </g></g>
                    </svg>
                <% end %>         
            </div>
        </footer>

    </article>
</li>