<%= render(PageTitleComponent.new(title: "Home")) %>
<%= render(Marketing::HeroComponent.new(user: current_user)) %>

<section class="py-4">
  <div class="max-w-screen-xl p-4 mx-auto sm:px-6 lg:px-8">
    <ul class="flex flex-wrap flex-row justify-center items-center">
      <% cache @genres, expires_in: 60.seconds do %>
        <% @genres.each do |genre| %>
          <li class="p-3 mx-4 my-2 font-bold text-xl">
            <%= link_to genre.name, genres_path(genre.slug), data: { "umami-event": "Home-Genre-Click" },
                class: "underline hover:text-cx-purple"
            %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>

<section class="py-4">
  <div class="max-w-screen-xl px-4 py-2 mx-auto sm:px-6 lg:px-8">
    <header>
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
        New Releases
      </h2>
    </header>
    <ul class="grid gap-4 mt-4 sm:grid-cols-2 lg:grid-cols-4">
      <% cache @recent_products, expires_in: 60.seconds do %>
        <% @recent_products.each do |product| %>
          <%= render(Products::CardComponent.new(product: product, number_of_products: 4)) %>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>

<section class="py-4">
  <div class="max-w-screen-xl px-4 py-2 mx-auto sm:px-6 lg:px-8">
    <header>
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
        Stores
        <%= link_to stores_path,
                    class: "inline-flex items-center justify-center font-extrabold pl-2 underline text-cx-purple hover:text-black text-xl sm:w-auto",
                    data: { "umami-event": "Home-Browse-All-Comics-Click" } do
        %>
          Browse all <ion-icon name="arrow-forward-outline" class="underline"></ion-icon>
        <% end %>
      </h2>
    </header>
    <ul class="grid gap-4 mt-4 sm:grid-cols-2 lg:grid-cols-4">
      <% cache @stores, expires_in: 60.seconds do %>
        <% @stores.each do |store| %>
          <%= render(Stores::CardComponent.new(store: store)) %>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>

<section class="py-4">
  <div class="max-w-screen-xl px-4 py-2 mx-auto sm:px-6 lg:px-8">
    <header>
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
        Creators
        <%= link_to profiles_path,
                    class: "inline-flex items-center justify-center font-extrabold pl-2 underline text-cx-purple hover:text-black text-xl sm:w-auto",
                    data: { "umami-event": "Home-Browse-All-Comics-Click" } do
        %>
          Browse all <ion-icon name="arrow-forward-outline" class="underline"></ion-icon>
        <% end %>
      </h2>
    </header>
    <ul class="grid gap-4 mt-4 sm:grid-cols-2 lg:grid-cols-4">
      <% cache @creator_profiles, expires_in: 60.seconds do %>
        <% @creator_profiles.each do |creator_profile| %>
          <%= render(CreatorProfiles::CardComponent.new(creator_profile: creator_profile)) %>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>

<section class="py-4">
  <div class="max-w-screen-xl px-4 py-2 mx-auto sm:px-6 lg:px-8">
    <header>
      <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
        Trending Comics
        <%= link_to comics_path,
                    class: "inline-flex items-center justify-center font-extrabold pl-2 underline text-cx-purple hover:text-black text-xl sm:w-auto",
                    data: { "umami-event": "Home-Browse-All-Comics-Click" } do
        %>
          Browse all <ion-icon name="arrow-forward-outline" class="underline"></ion-icon>
        <% end %>
      </h2>
    </header>
    <ul class="grid gap-4 mt-4 sm:grid-cols-2 lg:grid-cols-4">
      <% cache @onboarded_products, expires_in: 60.seconds do %>
        <% @onboarded_products.each do |product| %>
            <%= render(Products::CardComponent.new(product: product, number_of_products: 4)) %>
        <% end %>
      <% end %>
    </ul>
  </div>
</section>

<section class="py-4">
  <div class="max-w-screen-xl px-4 py-2 mx-auto sm:px-6 lg:px-8">
    <header class="py-4">
      <h2 class="text-xl text-center font-bold text-gray-900 sm:text-3xl">
        Featured on
      </h2>
    </header>
    <ul class="flex flex-row flex-wrap items-center justify-center">
      <li class="px-2 text-center text-lg font-bold">
        <a href="https://indiecomicszone.com/interview-with-saurabh-bhatia-comix-one/"
           class="flex flex-col"
           target="_blank">
          <img src="https://res.cloudinary.com/drg9hguhu/image/upload/v1701517285/indiecomicszone_aeuvvv.jpg"
               class="rounded-lg"
               width="200px" />
          Indie Comics Zone
        </a>
      </li>
      <li class="px-2 text-center text-lg font-bold">
        <a href="https://geek-network.com/comix-comics-platform/"
           class="flex flex-col"
           target="_blank">
          <img src="https://res.cloudinary.com/drg9hguhu/image/upload/v1701517285/GN-Logo-Gradient_nmmhzu.png"
               class="rounded-lg"
               width="200px" />
          Geek Network
        </a>
      </li>
      <li class="px-2 text-center text-lg font-bold">
        <a href="https://www.youtube.com/watch?v=V4Rs0fcFdpY"
           class="flex flex-col"
            target="_blank">
          <img src="https://res.cloudinary.com/drg9hguhu/image/upload/v1701517285/world-at-war-comics_nnggj9.jpg"
               class="rounded-lg"
               width="200px" />
          World at war comics
        </a>
      </li>
      <li class="text-left text-lg font-bold">
        <a href="https://scpod.net/episodes/comixone-the-place-for-independent-comics"
           class="flex flex-col"
           target="_blank">
          <img src="https://res.cloudinary.com/drg9hguhu/image/upload/v1701517286/Spoiler-Country-Logo-2020-Sqaure_ebnrmn.jpg"
               class="rounded-lg"
               width="200px" />
          Spoiler Country
        </a>
      </li>

      <li class="px-2 text-center text-lg font-bold">
        <a href="https://www.youtube.com/watch?v=Zt0pka6jboA"
           class="flex flex-col" >
          <img src="https://res.cloudinary.com/drg9hguhu/image/upload/v1701517285/solo-nerd-bird_x6fni3.jpg"
               class="rounded-lg"
               width="200px" />
          Solo Nerd Bird
        </a>
      </li>

      <li class="text-left text-lg font-bold flex items-center justify-center">
        <a href="https://comics.3millionyears.co.uk/p/spotlight-comix"
           class="flex flex-col"
           target="_blank">
          <img src="https://res.cloudinary.com/drg9hguhu/image/upload/v1701562941/3my_mmiqmo.jpg"
               class="rounded-lg"
               width="200px" />
          3 Million Years
        </a>
      </li>
    </ul>
  </div>
</section>

<div id="creators" class="max-w-screen-xl px-4 py-2 mx-auto sm:px-6 lg:px-8">
  <h2 class="text-xl font-bold text-gray-900 sm:text-3xl pb-4">
    For Creators
  </h2>
  <div class="flex flex-row">
    <div class="px-2">
      <div class="my-1 w-full">
          <article class="overflow-hidden rounded-lg border hover:shadow-lg">
              <header class="flex items-center justify-center leading-tight p-2 md:p-4">
                  <h1 class="text-lg">
                      <p class="no-underline hover:underline text-black">
                          <%= image_tag "pixeltrue-web-design-1.svg" %>
                      </p>
                  </h1>
              </header>
          </article>
      </div>
      <div class="flex my-1 w-full text-center mt-2">
          <div class="text-2xl no-underline text-black m-auto">
              Create &amp; Sell your work.<br/>
              <div class="text-lg">
                You can bring your work to life with our crowdfunding, sell back catalogue &amp; issues
                on our marketplace or add it to your crowdfunding campaign in just a few clicks!
              </div>
          </div>
      </div>
    </div>
    <div class="px-2">
      <div class="my-1 w-full">
          <article class="overflow-hidden rounded-lg border hover:shadow-lg">
              <header class="flex items-center justify-center leading-tight p-2 md:p-4">
                  <h1 class="text-lg">
                      <p class="no-underline hover:underline text-black">
                          <%= image_tag "pixeltrue-seo-1.svg" %>
                      </p>
                  </h1>
              </header>
          </article>
      </div>
      <div class="flex my-1 w-full text-center mt-2">
          <div class="text-2xl no-underline text-black m-auto">
              Get discovered<br/>
              <div class="text-lg">
                Get discovered by new people through our marketplace.
              </div>
          </div>
      </div>
    </div>
    <div class="px-2">
      <div class="my-1 w-full">
          <article class="overflow-hidden rounded-lg border hover:shadow-lg">
              <header class="flex items-center justify-center leading-tight p-2 md:p-4">
                  <h1 class="text-xl">
                      <p class="no-underline hover:underline text-black">
                          <%= image_tag "pixeltrue-study-from-books-1.svg" %>
                      </p>
                  </h1>
              </header>
          </article>
      </div>
      <div class="flex my-1 w-full text-center mt-2">
          <div class="text-2xl no-underline text-black m-auto">
              Speak directly with your fans.<br/>
              <div class="text-lg">
                Speak with your fans directly, retain them, survey ideas and retain them.
              </div></br/>
          </div>
      </div>
    </div>
  </div>
  <div class="mt-2 pb-4 w-full flex justify-center">
    <%= link_to "Join us as a creator", for_creators_path, class: "inline-flex items-center justify-center rounded-md border border-transparent bg-cx-purple px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-800 focus:ring-offset-2 sm:w-auto" %>
  </div>
</div>

<div class="bg-white pt-6 px-4 sm:px-6 lg:pb-8 lg:px-8">
  <div class="relative max-w-lg mx-auto lg:max-w-7xl px-8">
    <%= render(MailchimpComponent.new()) %>
    <div>
      <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">Freshly Pressed</h2>
      <p class="mt-3 text-xl text-gray-500 sm:mt-4">Articles, Interviews &amp; News from the universe of Comix!</p>
      <div class="mt-2 pb-4 w-full">
        <%= link_to profiles_path,
              class: "inline-flex items-center justify-center font-extrabold underline text-cx-purple hover:text-black text-xl sm:w-auto",
              data: { "umami-event": "Home-Browse-All-Comics-Click" } do
        %>
          Browse all <ion-icon name="arrow-forward-outline" class="underline"></ion-icon>
        <% end %>
      </div>
    </div>
    <div class="mt-3 grid gap-16 lg:grid-cols-3 lg:gap-x-5 lg:gap-y-12">
      <% cache @posts, expires_in: 60.seconds do %>
        <% @posts.each do |post| %>
          <%= render(Marketing::PostBlurbComponent.new(post: post)) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
