<%= render 'shared/hero_banner' %>
<div class="pt-8 -mt-14">
  <div class="container mx-auto px-6">
    <input class="w-full h-12 px-3 rounded mb-8 focus:outline-none focus:shadow-outline text-xl px-8 shadow" type="search" placeholder="Search...">
  </div>
</div>
<div class="text-center text-4xl">
  Freshly Pressed
</div>
<div class="container my-12 mx-auto px-4 md:px-12">
    <div class="flex flex-wrap -mx-1 lg:-mx-4 tiles">
      <% 8.times do %>
        <%= render 'shared/product_card' %>
      <% end %>
    </div>
</div>
<div class="text-center text-4xl">
  Genres
</div>
<div class="container my-12 mx-auto px-4 md:px-12">
    <div class="flex flex-wrap -mx-1 lg:-mx-4 tiles">
      <%= render partial: 'shared/genre_card', collection: @genres, as: :genre %>
    </div>
</div>
<div class="text-center text-4xl">
  Categories
</div>
<div class="container my-12 mx-auto px-4 md:px-12">
    <div class="flex flex-wrap -mx-1 lg:-mx-4 tiles">
      <% 4.times do %>
        <%= render 'shared/category_card' %>
      <% end %>
    </div>
</div>
<%= render 'shared/footer' %>