<section id="select-comics-section" class="android-more-section">
    <!-- <div class="android-section-title mdl-typography--display-1-color-contrast">Fresh on Comix</div> -->
    <div class="android-card-container mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
        <%= image_tag("https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/Item/577314/577314._SX312_QL80_TTD_.jpg") %>
        </div>
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">Create your own Android character</h4>
        </div>
        <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Turn the little green Android mascot into you, your friends, anyone!</span>
        </div>
        <div class="mdl-card__actions">
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-android-favorite-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-chatboxes-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-upload-outline"></i>
            </a>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
        <%= image_tag("https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/Item/584349/584349._SX360_QL80_TTD_.jpg") %>
        </div>
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">Get a clean customisable home screen</h4>
        </div>
        <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">A clean, simple, customisable home screen that comes with the power of Google Now: Traffic alerts, weather and much more, just a swipe away.</span>
        </div>
        <div class="mdl-card__actions">
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-android-favorite-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-chatboxes-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-upload-outline"></i>
            </a>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
        <%= image_tag("https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/Item/577334/577334._SX312_QL80_TTD_.jpg") %>
        </div>
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">Millions to choose from</h4>
        </div>
        <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your Android device uniquely yours.</span>
        </div>
        <div class="mdl-card__actions">
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-android-favorite-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-chatboxes-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-upload-outline"></i>
            </a>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
        <%= image_tag("https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/Item/580475/580475._SX312_QL80_TTD_.jpg") %>
        </div>
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">Millions to choose from</h4>
        </div>
        <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your Android device uniquely yours.</span>
        </div>
        <div class="mdl-card__actions">
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-android-favorite-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-chatboxes-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-upload-outline"></i>
            </a>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
        <%= image_tag("https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/Item/575539/575539._SX312_QL80_TTD_.jpg") %>
        </div>
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">Millions to choose from</h4>
        </div>
        <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your Android device uniquely yours.</span>
        </div>
        <div class="mdl-card__actions">
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-android-favorite-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-chatboxes-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-upload-outline"></i>
            </a>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
        <%= image_tag("https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/Item/575584/575584._SX360_QL80_TTD_.jpg") %>
        </div>
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">Millions to choose from</h4>
        </div>
        <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your Android device uniquely yours.</span>
        </div>
        <div class="mdl-card__actions">
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-android-favorite-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-chatboxes-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-upload-outline"></i>
            </a>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
        <%= image_tag("https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/Item/577030/577030._SX312_QL80_TTD_.jpg") %>
        </div>
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">Millions to choose from</h4>
        </div>
        <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your Android device uniquely yours.</span>
        </div>
        <div class="mdl-card__actions">
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-android-favorite-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-chatboxes-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-upload-outline"></i>
            </a>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
        <%= image_tag("https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/Item/580530/580530._SX312_QL80_TTD_.jpg") %>
        </div>
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">Millions to choose from</h4>
        </div>
        <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your Android device uniquely yours.</span>
        </div>
        <div class="mdl-card__actions">
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-android-favorite-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-chatboxes-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-upload-outline"></i>
            </a>
        </div>
    </div>

    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
        <div class="mdl-card__media">
        <%= image_tag("https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/Item/574755/b3f65750c57bd38e87d397038c3c907f._SX312_QL80_TTD_.jpg") %>
        </div>
        <div class="mdl-card__title">
            <h4 class="mdl-card__title-text">Millions to choose from</h4>
        </div>
        <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Hail a taxi, find a recipe, run through a temple – Google Play has all the apps and games that let you make your Android device uniquely yours.</span>
        </div>
        <div class="mdl-card__actions">
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-android-favorite-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-chatboxes-outline"></i>
            </a>
            <a class="android-link mdl-js-button action-icons" href="">
            <i class="ion-ios-upload-outline"></i>
            </a>
        </div>
    </div>
    </div>

</section>

<div class="button-center">
    <button class="mdl-button mdl-js-button mdl-button--raised">
    Load more
    </button>
</div>
