<div>
    <%= form.label :name, class: "block text-sm font-medium text-gray-700 py-2" %>
    <div class="mt-1">
        <%= form.text_field :name, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "The best comic name" %>
    </div>
</div>

<div>
    <%= form.label :description, class: "block text-sm font-medium text-gray-700 py-2" %>
    <div class="mt-1">
        <%= form.rich_text_area :description, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "Lorem Ipsum" %>
    </div>
</div>

<div>
    <%= form.label :price, class: "block text-sm font-medium text-gray-700 py-2" %>
    <div class="mt-1">
        <%= form.number_field :price, step: 0.01, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "10" %>
    </div>
</div>

<div>
    <%= form.label :age_rating, class: "block text-sm font-medium text-gray-700 py-2" %>
    <div class="mt-1">
        <%= form.text_field :age_rating, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "15+" %>
    </div>
</div>

<div>
    <%= form.label :page_count, class: "block text-sm font-medium text-gray-700 py-2" %>
    <div class="mt-1">
        <%= form.number_field :page_count, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", placeholder: "30" %>
    </div>
</div>

<div>
    <%= form.label :issue_cover, class: "block text-sm font-medium text-gray-700 py-2" %>
    <% if @product.issue_cover.attached? %>
        <%= image_tag(rails_representation_url(@product.issue_cover, host: ENV["HOSTNAME"])) %>
    <% end %>
    <div class="mt-1">
        <%= form.file_field :issue_cover, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
    </div>
</div>

<div>
    <%= form.label :file_attachment, class: "block text-sm font-medium text-gray-700 py-2" %>
    <% if @product.file_attachment.attached? %>
        <%= image_tag(rails_representation_url(@product.file_attachment.preview(resize_to_limit: [310, 480]), host: ENV["HOSTNAME"])) %>
    <% end %>
    <div class="mt-1">
        <%= form.file_field :file_attachment, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
    </div>
</div>

<div>
    <%= form.label :release_date, class: "block text-sm font-medium text-gray-700 py-2" %>
    <div class="mt-1">
        <%= form.date_field :release_date, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
    </div>
</div>

<%= form.hidden_field :store_id, value: @store.id %>

<div>
    <%= form.label :genre, class: "block text-sm font-medium text-gray-700 py-2" %>
    <div class="mt-1">
        <%= form.collection_check_boxes :genre_ids, @genres, :id, :name, include_hidden: false %>
    </div>
</div>

<div>
    <%= form.label :creator_profile, class: "block text-sm font-medium text-gray-700 py-2" %>
    <div class="mt-1">
        <%= form.collection_check_boxes :creator_profile_ids, @creator_profiles, :id, :name, include_hidden: false %>
    </div>
</div>