<section id="select-comics-section" class="android-more-section">
  <h2 class="detail-heading">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= link_to member_facebook_omniauth_authorize_path do %>
      <%= image_tag 'fb_login.png', width: '300px' %>
    <% end %>

    <br/>
    
    <h2>Or</h2>
    
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.email_field :email, class: "mdl-textfield__input", id: "email" %>
      <label class="mdl-textfield__label" for="email">Email</label>
    </div>

    <br/>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <%= f.password_field :password, class: "mdl-textfield__input", autocomplete: "off" %>
      <label class="mdl-textfield__label" for="email">Password</label>
    </div>

    <br/>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "mdl-checkbox__label checkbox-label remember-me" %>
      </div>
    <% end -%>
    
    <br/>

    <div class="actions">
      <%= f.submit "Log in", class: "mdl-button mdl-js-button mdl-button--raised" %>
    </div>
  <% end %>

</section>
