<div class="max-h-screen w-full max-w-lg relative">
    <div class="m-1 bg-white rounded shadow-2xl">
        <div class="p-8">
            <div class="mt-2 text-xl font-bold sm:hidden md:hidden lg:flex items-start justify-around px-4">
                Publisher
            </div>
            <%= render partial: "store_details", locals: { product: @product } %>
            <div class="mt-2 text-xl font-bold sm:hidden md:hidden lg:flex items-start justify-around px-4 pt-4">
                Credits
            </div>
            <div class="mt-2 text-xl sm:hidden md:hidden lg:flex items-start justify-around px-4">
                <ul class="text-center">
                    <% @product.collaborations.each do |collaboration| %>
                        <li><span class="font-bold"><%= collaboration.collaboration_type.capitalize %>:</span> <%= collaboration.creator&.name %></li>
                    <% end %>
                </ul>
            </div>
            <div class="mt-2 text-xl font-bold sm:hidden md:hidden lg:flex items-start justify-around px-4">
                Genres
            </div>
            <div class="mt-2 text-xl sm:hidden md:hidden lg:flex items-start justify-around px-4">
                <ul class="text-center">
                    <% @product.genres.each do |genre| %>
                        <li><%= genre.name %></li>
                    <% end %>
                </ul>
            </div>
            <div class="mt-2 text-xl font-bold sm:hidden md:hidden lg:flex items-start justify-around px-4">
                Book Info
            </div>
            <div class="mt-2 text-xl sm:hidden md:hidden lg:flex items-start justify-around px-4">
                <ul class="text-center">
                    <li>
                        <span class="font-bold">Age Rating:</span>
                        <%= @product.age_rating %>
                    </li>
                    <li>
                        <span class="font-bold">Page Count:</span>
                        <%= @product.page_count %>
                    </li>
                    <li>
                        <span class="font-bold">Release Date:</span>
                        <%= @product.release_date.to_date.strftime("%d/%m/%Y") %>
                    </li>
                </ul>
            </div>
            <div class="mt-2 text-xl font-bold sm:hidden md:hidden lg:flex items-start justify-around px-4">
                Social Share
            </div>
            <div class="mt-2 text-xl font-bold sm:hidden md:hidden lg:flex items-start justify-center px-4">
                <%= render partial: "shared/social_share" %>
            </div>
        </div>
    </div>
</div>