<div class="flex flex-wrap h-auto flex-wrap lg:mx-64 my-16">
  <div class="w-full lg:w-2/5">
    <% if @product.issue_cover.present? %>
        <%= image_tag @product.issue_cover, class: "shadow-2xl hidden max-h-bigtile rounded-lg lg:block" %>
    <% else %>
        <img src="https://img.icons8.com/dotty/600/000000/full-image.png" class="shadow-2xl hidden rounded-lg lg:block" />
    <% end %>
  </div>
  <div class="w-full lg:w-3/5 shadow-2xl rounded-lg mx-6 lg:mx-0">
    <div class="p-4 md:p-12">
      <div class="block lg:hidden rounded-full shadow-xl mx-auto -mt-16 h-48 w-48 bg-cover bg-center" style="background-image: url('https://images-na.ssl-images-amazon.com/images/S/cmx-images-prod/Item/21383/21383._SX360_CLs%7C360,546%7Ccu/cmx-cu-sash-lg.png%7C0,0,361,547%20208,394,152,152_QL80_TTD_.jpg')"></div>
      <h1 class="text-3xl font-bold pt-8 lg:pt-0 px-2"><%= @product.name %></h1>
      <div class="mx-auto lg:mx-0 pt-3 border-b-2 divider-line opacity-25"></div>
      <div class="pt-8 text-md text-justify px-2 tracking-tight"><%= @product.description %></div>
      <div class="mt-8 text-xl items-center flex justify-between">
        <span class="mx-2 border border-solid rounded border-black p-2">&#36;<%= @product.price %></span>
        <button class="p-3 leading-none border rounded text-cx-lavender-blush bg-cx-pumpkin hover:border-transparent hover:text-cx-pumpkin hover:bg-cx-lavender-blush hover:border-cx-pumpkin">
          Add to cart
        </button>
      </div>
    </div>
  </div>
</div>
<% if @other_products.present? %>
  <div class="text-center text-3xl">
    You might also like
  </div>
  <div class="container my-12 mx-auto px-4 md:px-12">
    <div class="py-10 border-t text-center">
      <div class="flex flex-wrap justify-center">
        <% @other_products.each do |product| %>
          <%= render 'shared/product_card', product: product %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>