<!DOCTYPE html>
<html>
  <head>
    <title>Comix - Discover Indie comics, Crowdfund and Buy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- use action text and delete me -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/trix@2.0.8/dist/trix.css">
    <script type="text/javascript" src="https://unpkg.com/trix@2.0.8/dist/trix.umd.min.js"></script>
    <!-- use action text and delete me -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main>
      <%= render(Admin::NavbarComponent.new()) %>
      <%= yield %>
    </main>
  </body>
</html>
