<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Comix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <main>
      <%= render(Admin::NavbarComponent.new()) %>
      <%= yield %>
    </main>
  </body>
</html>
