<!DOCTYPE html>
<html>
  <head>
    <title>Comix - Discover Indie comics, Crowdfund and Buy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "trix", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap"
      rel="stylesheet"
    />
  </head>


  <body class="h-full">
    <main>
      <%= render(NavbarComponent.new(user: current_user)) %>
      <div class="flex flex-row min-h-80">
        <div class="hidden lg:flex lg:w-1/5 bg-gray-100">
          <%= render(Dashboard::SidebarNavComponent.new()) %>
        </div>
        <div class="h-fit w-full lg:w-4/5 px-8 pb-8">
          <%= yield %>
        </div>
      </div>
      <%= render(FooterComponent.new()) %>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>

