<!DOCTYPE html>
<html>
  <head>
    <title>Comix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script type="module" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons/ionicons.js"></script>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="text-center text-4xl">
      Sales Dashboard
    </div>
    <div class="flex flex-wrap text-center">
      <div class="w-1/3 sm:w-hidden px-6">
        <%= render 'shared/side_bar' %>
      </div>
      <div class="w-2/3 sm:w-full px-6">
        <%= yield %>
      </div>
    </div>
  </body>
</html>