<%= fields_for resource do |f| %>
  <%= render "devise/shared/error_messages" %>

  <div class="field">
  	<%= f.label :email, for: "email" %>        
  	<%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, for: "password" %>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, for: "password_confirmation" %>        
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
    
  <div class="actions">
  	<%= f.submit "Join" %>
  </div>
<% end %>